
@media only screen and (min-width: 50em)
/* { for pc and dekstop */
{
body{
    background-color: rgba(194, 150, 194, 0.705);
    }
#headerarea{
    background-color: black;
    text-align: center;
    font-size: 2.2rem;
    color:whitesmoke;
    }
#buttonarea{
    width: 24.5%;
    height:600px;
    float: left;
    background-color: aliceblue;
    text-align: center;
    }
#viewarea{
    height: 600px;
    float: right;
    width: 74.7%;
    background-color: aliceblue;
    }
.preview{
    /* margin: 12px; */
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(255, 192, 155, 0.904);
    display: inline;
    }  
.btn {
    border: none;
    display: block;
    width: 80%;
    padding: 12px 10px;
    text-align: center;
    font-size:large;
    font-weight: 700;
    transition-duration: 0.4s;
    cursor: pointer;
    margin:7px 35px;
    background-color: white; 
    border: 2px solid #4CAF50;
    border-radius:4px;
    }
  .btn:hover {
    background-color: #4CAF50;
    color: white;
    }
#buttons{
    align-items: center;
    }
#iResponse{
        font-size: 40px;
        background-color: lightgrey;
        width: 90%;
        height: 100%;
        border: 5px solid black;
        padding: 70px;
        margin: 50px;
}
#InputNewBtn{
    background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
}
#InputNewBtn:hover{
    background-color:greenyellow;

}
#InputRemoveBtn{
    background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
}
#InputRemoveBtn:hover{
    background-color: greenyellow;
}
#InputPreviousBtn{
    background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
}

#InputPreviousBtn:hover{
    background-color: greenyellow;
}
#InputNextBtn{
background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
}
#InputNextBtn:hover{
    background-color: greenyellow;
}
#s4{
    background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
}
#s4:hover{
    background-color: greenyellow;
}
#headerarea{
    background-color: black;
    font-size: 20px;
    text-align: center;
}
#iQuestion{
    font-size: 40px;
}
.content , h3{
    display: inline-block;
    margin: 1.4% 0.5%;
}
.out{
    background-color: bisque;
}
}